@import "../../mixins/mixins";
.reset-password{
  form{
    display: flex;
    flex-direction: column;
    label{
     @include FormLabel;
    }
    input {
     @include FormInput;
    }
    button{
      background: #000000;
     @include FormButton;
    }
  }
    > h2{
      font-family: Satoshi, sans-serif;
      font-size: 64px;
      font-weight: 500;
      line-height: 86.4px;
      color: white;
  }
}