.about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  margin-bottom: 9.3rem;
  background: url("../../images/Aboutus/BackgroundDark.png") no-repeat right;
  background-size: 48%;
}
.about-content .card:nth-child(1) {
  grid-area: 1 / 1 / 1 / 2;
}

.about-content .card:nth-child(2) {
  grid-area: 1 / 2 / 1 / 3;
}

.about-content .card:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}
.day-theme .about-content{
  background: url("../../images/Aboutus/BackgroundDay.png") no-repeat right;
  background-size: 40%;
}


