@import "../../mixins/mixins";
.verify-code{
  form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    label{
      @include FormLabel;
    }
    input {
      color: #98979D;
      @include FormInput;
    }
    input:focus-visible{
      outline: none;
    }
    button{
      background: #000000;
      @include FormButton;
    }
    .resend{
      @include font-style(Roboto Mono, 16px, 400,  21.1px, #151414);
      text-align: right;
      > span{
        @include font-style(Roboto Mono, 16px, 700,  21.1px, #151414);
      }
    }
    .resend-button{
      font-family: Roboto Mono, sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      width: 100%;
      max-width: 8rem;
      padding: 0;
      border-radius: 8px;
      align-self: self-end;
    }
  }
  .verify-code-block{
    display: flex;
    flex-direction: column;
  }
  .verify-title{
    margin-bottom: 3rem;
    text-align: center;
    > h2, span{
      color: white;
    }
    > h2{
      @include font-style(Satoshi, 64px, 500, 86.4px, white);
    }
    > span{
      @include font-style(Roboto Mono, 16px, 400, 21.1px, white);
    }

  }
}
.day-theme .verify-code{
  form{
    button{
      background: #EA4927;
    }
    label{
      color: #3E3E3E;
    }
    input{
      border: 1px solid #EFEEEB;
    }
  }
  .verify-title{
    > h2, span{
      color: #151414;
    }
  }
}