.home{
    font-family: 'Satoshi', sans-serif;
    background: #151414;

  header{
    display: flex;
    align-items: center;
    padding: 1.4rem 3.75rem;
    justify-content: space-between;
    .leftside-content{
      display: flex;
    }
    .registration {
      border: 1px solid #EA4927;
      > button{
        font-family: Roboto Mono, serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 26.38px;
        text-align: left;
        background-color: inherit;
        color: white;
        border: none;
        text-transform: uppercase;
        padding: 16px 48px;
      }
    }
  }
  .menu{
    > nav {
      width: 22.5rem;
      max-width: 22.5rem;
      > ul{
        list-style: none;
        display: flex;
        gap: 1.75rem;
        > li {
          color: #F7F6F3;
          font-family: Roboto Mono, sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 21.1px;
          text-align: left;

        }
      }
    }

  }

}
