@import "../../mixins/mixins";
.password-reset-request{
  form{
    display: flex;
    flex-direction: column;
    label{
      @include FormLabel
    }
    input {
      @include FormInput;
      margin-bottom: 3rem;
    }
    input:focus-visible{
      outline: none;
    }
    button{
      @include FormButton;
      background: #000000;
    }

  }
  .reset-title{
    margin-bottom: 3rem;
    > p{
      @include font-style(Satoshi, 64px, 500, 86.4px, white);
      text-align: center;
    }
  }
}
.day-theme .password-reset-request{
  form{
    button{
      background: #EA4927;
    }
    label{
      color: #3E3E3E;
    }
    input {
      border: 1px solid #EFEEEB;
    }
  }
  .reset-title{
    > p {
      color: #151414;
    }
  }
}