@import "../../mixins/mixins";
.password-reset-request{
  form{
    display: flex;
    flex-direction: column;
    label{
      @include FormLabel
    }
    input {
      @include FormInput
    }
    button{
      @include FormButton;
      background: #000000;
    }
  }
  .reset-title{
    > p{
      font-family: Satoshi, sans-serif;
      font-size: 64px;
      font-weight: 500;
      line-height: 86.4px;
      color: white;
    }
  }
}
