.password-strength-meter {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  .strength-bar {
    width: 30%;
    height: 5px;
    border-radius: 3px;
    background-color: lightgray;

    &.weak {
      background-color: red;
    }
    &.fair {
      background-color: yellow;
    }
    &.good {
      background-color: green;
    }
  }

  .strength-label {
    margin-top: 5px;
    color: green;
  }
}
