@import '../../mixins/mixins.scss';
header{
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 1.4rem 3.75rem;
  justify-content: space-between;
  border-bottom: 1px solid #444444;

  .leftside-content{
    display: flex;
    align-items: center;
    gap: 44px;
  }
  .registration {
    border: 1px solid #EA4927;
    > button{
      @include FormButton;
      background-color: inherit;
      padding: 16px 48px;
      transition: background-color 0.3s ease;
    }
    > button:hover{
      background-color: #EA4927;
      color: white;
    }
    > button:active{
      background-color: #EA4927;
    }
  }

}
.menu{
  > nav {
    width: 42rem;
    max-width: 42rem;
    > ul{
      list-style: none;
      display: flex;
      gap: 1.75rem;
      justify-content: center;
      > li {
        @include font-style( Roboto Mono, 16px, 300, 21.1px,  #F7F6F3);
        text-align: left;
      }
    }
  }

}

.day-theme .registration {
  >button{
  color: #444444;

  }

}
.day-theme .menu{
  nav > ul > li{
    color: #444444;
  }
}