header{
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 1.4rem 3.75rem;
  justify-content: space-between;
  border-bottom: 1px solid #444444;

  .leftside-content{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .registration {
    border: 1px solid #EA4927;
    > button{
      font-family: Roboto Mono, serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 26.38px;
      background-color: inherit;
      color: white;
      border: none;
      text-transform: uppercase;
      padding: 16px 48px;
      transition: background-color 0.3s ease;
    }
    > button:hover{
      background-color: #EA4927;
    }
    > button:active{
      background-color: #EA4927;
    }
  }

}
.menu{
  > nav {
    width: 23rem;
    max-width: 23rem;
    > ul{
      list-style: none;
      display: flex;
      gap: 1.75rem;
      justify-content: center;
      > li {
        color: #F7F6F3;
        font-family: Roboto Mono, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 21.1px;
        text-align: left;
      }
    }
  }

}

.day-theme .registration {
  > a > button{
    color: #444444;
  }
}
.day-theme .menu{
  nav > ul > li{
    color: #444444;
  }
}