.histogram {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
 .custom-tooltip {
   background: #ffffff;
   border: 1px solid #cccccc;
   padding: 10px;
   border-radius: 5px;
 }