@import '../../mixins/mixins';
.footer {
  padding: 10px 0;
  text-align: center;
  color: white;
  border-top: 1px solid #444444;

}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  > p{
    @include font-style(Roboto Mono, 20px, 300, 26.38px);
  }

}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}
