.shared-layout-wrapper {
  background: #151414 url("../../images/Circles.svg") no-repeat center;
  background-position-y: 490px;
  position: relative;
  min-height: 100vh;
}

.form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 33.4rem;
  max-width: 33.4rem;
  margin: 7.5rem auto 10rem;
  z-index: 1;
}
.day-theme .shared-layout-wrapper{
  background-color: #F7F6F3;
  background-image: url("../../images/Circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 490px;
}