@import "../../mixins/mixins";
.password-hints{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
  color: white;
  .valid, .invalid{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  > p{
    @include font-style(Montserrat, 12px, 500, 22px);
  }
}
.day-theme  .password-hints{
  color: #444444;
}