@import "../../mixins/mixins";
.signup-wrapper{
  background-image: url("../../images/Circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid;
  background-position-y: 430px;
}
.signup{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 33.4rem;
  max-width: 33.4rem;
  z-index: 1;
  > form {
    display: flex;
    flex-direction: column;
      > .input {
        > label{
          @include FormLabel;
        }
        > input {
          display: flex;
          width: 100%;
          padding: 1rem;
          margin-bottom: 1.5rem;

          @include FormInput;

          color: #98979D;
          margin-top: 0.25rem;
        }
        input:focus-visible{
          outline: none;
        }
    }
    button {
      background-color: #000000;
      @include FormButton;
    }
    button:hover{
      transition: background-color 0.35s ease;
      background-color: #EA4927;
    }
    .input-container{
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
}
.signup-title{
  text-align: center;
  > p {
    @include font-style(Satoshi, 64px, 500, 86.4px, #F7F6F3);
    margin-bottom: 1rem;
  }
  .account{
    @include flex-center;
    gap: 1rem;
    margin-bottom: 3.1rem;
    > span {
      @include font-style(Roboto Mono, 16px, 400, 21.1px, #F7F6F3);
    }
    > a {
      @include font-style(Satoshi, 16px, 700, 21.6px, #F7F6F3);
    }
  }

}
.day-theme .signup{
  > label{
    color: #151414;
  }
  > button{
    background: #EA4927;
  }
  > form {
    .input {
        > input {
          border: 1px solid #EFEEEB;
        }
    }
  }
  .signup-title {
    > p{
      color: #151414;

    }
    .account{
      > span, a {
        color: #151414;
      }
    }

  }
}
.input-wrapper {
  @include input-wrapper-style;

  label {
    @include FormLabel;
  }

  input {
    @include FormInput;
    padding: 1rem;
    margin-bottom: 1.5rem;
    color: #98979D;
    position: relative;
  }
  input:focus-visible{
    outline: none;
  }
  .check-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
  }

  .eye-icon {
    position: absolute;
    top: 15%;
    right: 1rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}
.error {
  @include error-style;
}
.error-declaimer {
  @include error-style;
  align-self: baseline;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}
.disclaimer-content{
  @include flex-center;
  flex-direction: column;
  padding: 60px 48px;

  > h2{
    @include font-style(Satoshi, 24px, 700, 32.4px, #444444);
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  > p {
    @include font-style(Roboto Mono, 20px, 300, 26.38px, #444444);
    text-align: left;
    margin-bottom: 24px;
  }
  .disclaimer-actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    > button{
      @include FormButton;
      background-color: #EA4927;
      max-width: 12rem;
      width: 100%;
    }
    > button:hover{
      box-shadow: inset 0 0 1px 1px black;
    }
    .disclaimer-checkbox{
      > label{
        @include font-style(Satoshi, 16px, 400, 21.6px, #444444);
        > a {
          @include font-style(Satoshi, 16px, 400, 21.6px, #EA4927);
        }
      }
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
.disclaimer-checkbox{
  input[type="checkbox"]{
    min-width: 20px;
    min-height: 20px;
  }
  input[type="checkbox"]:enabled{
    accent-color:  #EA4927;
  }
}
.day-theme .signup {
  .input-wrapper{
    > label{
      color: #3E3E3E;
    }
    > input {
      border: 1px solid #EFEEEB;
    }
    .input-container{
      > input{
        border: 1px solid #EFEEEB;
      }
    }
  }
  > form{
    > button {
      background: #EA4927;
    }
    > button:hover {
      box-shadow: inset 0 0 1px 1px black;
    }
    > div > label{
      color: #3E3E3E;
    }
  }
}
.close-button{
  border:none;
  background: inherit;
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 3%;
}